<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            [routerLink]="['/movies/popular']"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Peliculas
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/movies/popular']"
                >Popular</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/movies/now_playing']"
                >En cartelera hoy</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/movies/upcoming']"
                >Próximamente</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Mejor valoradas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Series
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/series/popular']"
                >Popular</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/series/airing_today']"
                >Se emiten hoy</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/series/on_the_air']"
                >En televisión</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/series/top_rated']"
                >Mejor valoradas</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Personas
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/people/popular']"
                >Personas populares</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Más
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Discusiones</a></li>
            <li>
              <a class="dropdown-item" href="#">Tabla de clasificación</a>
            </li>
            <li><a class="dropdown-item" href="#">Soporte</a></li>
            <li><a class="dropdown-item" href="#">API</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
