<nav class="navbar navbar-expand-lg" style="background-color: #032541">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
        style="width: 200px; margin-right: 30px; margin-left: 50px"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            [routerLink]="['/movies/popular']"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: white"
          >
            Peliculas
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/movies/popular']"
                >Popular</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/movies/now_playing']"
                >En cartelera hoy</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/movies/upcoming']"
                >Próximamente</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/movies/top_rated']"
                >Mejor valoradas</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: white"
          >
            Series
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/series/popular']"
                >Popular</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/series/airing_today']"
                >Se emiten hoy</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/series/on_the_air']"
                >En televisión</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/series/top_rated']"
                >Mejor valoradas</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: white"
          >
            Personas
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/people']"
                >Personas populares</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: white"
          >
            Más
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Discusiones</a></li>
            <li>
              <a class="dropdown-item" href="#">Tabla de clasificación</a>
            </li>
            <li><a class="dropdown-item" href="#">Soporte</a></li>
            <li><a class="dropdown-item" href="#">API</a></li>
          </ul>
        </li>
      </ul>

      <ng-container *ngIf="user$ | async as user">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 35%">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              [routerLink]="['/movies/popular']"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              <i class="pi pi-plus"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" [routerLink]="['/movies/popular']"
                  >Añadir nueva película</a
                >
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/movies/now_playing']"
                  >Añadir nuevo programa de tv</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              [routerLink]="['/login']"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              {{ user.email }}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"
                  ><strong style="font-size: 20px">{{ user.email }}</strong>
                  <h5>Ver perfil</h5>
                  <hr />
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Discusión</a>
              </li>
              <li><a class="dropdown-item" href="#">Listas</a></li>
              <li><a class="dropdown-item" href="#">Valoraciones</a></li>
              <li>
                <a class="dropdown-item" href="#">Lista de seguimiento</a>
              </li>
              <hr />
              <li><a class="dropdown-item" href="#">Editar perfil</a></li>
              <li><a class="dropdown-item" href="#">Configuración</a></li>
              <hr />
              <li><a class="dropdown-item" (click)="onClick()">Salir</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              Más
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Discusiones</a></li>
              <li>
                <a class="dropdown-item" href="#">Tabla de clasificación</a>
              </li>
              <li><a class="dropdown-item" href="#">Soporte</a></li>
              <li><a class="dropdown-item" href="#">API</a></li>
            </ul>
          </li>
        </ul>
      </ng-container>
      <ng-container *ngIf="!user$"
        ><ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 35%">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              [routerLink]="['/movies/popular']"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              <i class="pi pi-plus"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" [routerLink]="['/movies/popular']"
                  >Añadir nueva película</a
                >
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/movies/now_playing']"
                  >Añadir nuevo programa de tv</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/login']"
              href="#"
              role="button"
              aria-expanded="false"
              style="color: white"
            >
              Acceder
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/register']"
              href="#"
              role="button"
              aria-expanded="false"
              style="color: white"
            >
              Registrarse
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              Más
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Discusiones</a></li>
              <li>
                <a class="dropdown-item" href="#">Tabla de clasificación</a>
              </li>
              <li><a class="dropdown-item" href="#">Soporte</a></li>
              <li><a class="dropdown-item" href="#">API</a></li>
            </ul>
          </li>
        </ul></ng-container
      >
    </div>
  </div>
</nav>
