<app-nav></app-nav>

<div
  style="
    background: url(../../../../assets/Wall-e.jfif) no-repeat center center
      fixed;
    background-size: cover;
    color: white;
    height: 89.4%;
    position: absolute;
    width: 100%;
  "
>
  <div class="login" style="width: 40%; margin-left: 15%; margin-top: 10%">
    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <h2 style="margin-left: 15%">Login de usuario</h2>
      <div class="mb-3">
        <input
          pInputText
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Email"
          style="margin-bottom: 3%; width: 60%"
        />
      </div>
      <div class="mb-3">
        <input
          pInputText
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
          style="margin-bottom: 3%; width: 60%"
        />
      </div>
      <a [routerLink]="['/login']" style="color: white"
        >¿Olvidaste tu contraseña?</a
      ><br />
      <input
        type="submit"
        value=" Log in"
        style="
          width: 60%;
          border-radius: 5px;
          height: 40px;
          background-color: #032541;
          color: white;
          font-size: 15px;
          margin-bottom: 3%;
          margin-top: 3%;
        "
      />
      <br />
      <a [routerLink]="['/register']" style="color: white; margin-left: 20%"
        >¿No tienes cuenta?</a
      >
      <br />
    </form>
  </div>
</div>
