<app-nav></app-nav>

<div class="">
  <div
    style="
      background: url(../../../../assets/Up.jpg) no-repeat center center fixed;
      background-size: cover;
      color: white;
      height: 300px;
    "
  >
    <div style="padding: 75px">
      <p style="font-size: 50px">Bienvenidos.</p>
      <br />
      <p style="font-size: 25px">
        Millones de películas, programas de televisión y personas por descubrir.
        Explora ahora.
      </p>
      <br /><br />
      <input
        type="text"
        style="
          position: relative;
          width: 100%;
          border-radius: 50px;
          height: 50px;
          padding-left: 20px;
        "
        placeholder="Buscar una película, programa de televisión, persona......"
        #txt
        [(ngModel)]="filter"
      />
      <button
        style="
          position: absolute;
          left: 80%;
          height: 50px;
          width: 8%;
          border-radius: 50px;
        "
        (click)="search_movie()"
      >
        Buscar
      </button>
    </div>
  </div>
</div>

<div class="" style="margin-left: 20px">
  <div style="display: flex; margin-top: 30px">
    <h3 style="font-size: 25px">Tendencias</h3>
    <div style="border: 1px solid #111; border-radius: 100px; width: 300px">
      <button style="width: 50%; border-radius: 100px; height: 100%">
        Hoy
      </button>
      <button style="width: 50%; border-radius: 100px; height: 100%">
        Esta semana
      </button>
    </div>
  </div>
  <app-carousel [items]="discover_movie_arr"></app-carousel>

  <app-carousel [items]="discover_serie_arr"></app-carousel>
</div>
